{% include "head.html" %}
<body>
{% if user.is_authenticated %}
<!--  Hi {{ user.username }}!-->
{% include "header.html" %}
{% include "navbar.html" %}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 48rem;">
        <div class="card-body m=3">
            <h5 class="card-title text-center">
               Студент ХТУ
            </h5>
            {% include "student_data.html" %}
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% include "bottom_nav.html" %}
{% else %}

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
        <div class="card-body text-center">
            <h5 class="card-title">Вход в систему</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                Вы не вошли в систему
            </h6>
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Вход</a>
        </div>
    </div>
</div>

{% endif %}
{% include "footer.html" %}